{% extends 'accueil.html.twig' %}

{% block title %}Gestion des Produits!{% endblock %}

{% block body %}
<div class="container">
        <div class="row">
            <div class=" col-md-6 ">
                <div class="card">
                    <div class="card-header">Liste des Produits</div>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <td>Id</td>
                                <td>Libelle</td>
                                <td>Quantité de stock</td>
                                <td>Catégorie</td>
                            </tr>
                            {% for p in produits %}
                            <tr>
                                <td>{{ p.id }}</td>
                                <td>{{ p.libelle }}</td>
                                <td>{{ p.qtStock }}</td>
                                <td>{{ p.categorie }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="card-footer">Moonawa</div>    
                </div>
            </div>

        
            <div class=" col-md-6">
                <div class="card">
                    <div class="card-header"> Formulaire de gestion des Produits</div>
                    <div class="card-body">
                        {{ form(form)}}
                    </div>
                    <div class="card-footer">Moonawa</div>    
                </div>
            </div>
        </div>
{% endblock %}
